.any_products {
    font-family: 'PT Sans',sans-serif;
    display: block;
}

.butchers {
    font-size: 15px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 35px;
    text-align: left;
}

.baloo__font {
    font-family: 'Baloo 2', cursive;
    font-size: 50px;
    padding-left: 35px;
    text-align: left;
    color: #3c3731;
}

.baloo__font__discount {
    font-family: 'Baloo 2', cursive;
    font-size: 32px;
    margin: auto;
    text-align: center;
    color: #3c3731;
    padding-top: 60px;
}
.orange_color_text {
    color: #ed6435;
}
.cards_products {
    display: flex;
    margin-top: 200px;
}
.food_for_pets {
    background: url(../img/img_any_pets/dog_feed.png);
    width: 570px;
    height: 348px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: auto;
    margin-right: 15px;
}
.discount {
    background: url(../img/img_any_pets/pet_toys.png);
    width: 570px;
    height: 348px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: auto;
    margin-left: 15px;

}

.button_to_dry_food {
    font-size: 16.5px;
    font-weight: bold;
    width: 123px;
    text-decoration: none;
    text-align: center;
    background: #ffe6d4;
    display: block;
    padding: 15px;
    border-width: 1px;
    border-radius: 25px;
    letter-spacing: 0.7px;
    margin-left: 35px;
    margin-top: 27px;
}

.button_to_see_products {
    font-size: 16.5px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 157px;
    background: #ffe6d4;
    display: block;
    padding: 15px;
    border-width: 1px;
    border-radius: 25px;
    letter-spacing: 0.7px;
    margin: auto;
    display: block;
    margin-top: 30px;
}

.products {
    display: block;
}

.center_text {
    font-size: 50px;
    font-family: 'Baloo 2', cursive;
    margin: auto;
    text-align: center;
    color: #3c3731;
    padding-top: 100px;
}

.bone_icon {
    margin-left: auto;
    margin-right: auto;
    padding-top: 17px;
    display: block;
    width: 75px;
}

.happy_paw {
    font-family: 'PT Sans',sans-serif;
    font-size: 19px;
    color: #958b7e;
    margin-top: 20px;
    text-align: center;
}

.carousel_cards {
    display: inline-flex;
    margin-top: 50px;
    overflow: hidden;
    margin: 0 auto;
    max-width: 980px;
    
}

.slider-track {
display: flex;
 transition: .2s;
 margin-left: auto;
 margin-right: auto;
 /*padding-left: 1350px;*/
 position: relative;
}

.hamster_card {
    min-width: 259px;
    min-height: 345px;
    border: 2px solid #fbd6bf;
    padding-top: 40px;
    text-align: center;
    margin-right: 30px;
}
/*
.kitty_card {
    width: 259px;
    height: 345px;
    border: 2px solid #fbd6bf;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}

.puppy_card {
    width: 259px;
    height: 345px;
    border: 2px solid #fbd6bf;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}

.parrot_card {
    width: 259px;
    height: 345px;
    border: 2px solid #fbd6bf;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}

.rabbit_card {
    width: 259px;
    height: 345px;
    border: 2px solid #fbd6bf;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}

.fish_card {
    width: 259px;
    height: 345px;
    border: 2px solid #fbd6bf;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}
*/
.corousel_card__image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.for_pet {
    font-family: 'Baloo 2', cursive;
    color: #3c3731;
    font-size: 24px;
    padding-top: 18px;
}

.blue_arrow {
    color: #45c1c7;
}

/*.slider-buttons {
    text-align: center;
}*/
.bottom_text {
    font-size: 15px;
    font-family: 'PT Sans',sans-serif;
    color: #958b7e;
    padding-top: 18px;
    
}

/*@media (min-width: 320px) {
    .any_products {
        min-width: 320px;
        display: flex;
        flex-wrap :wrap;
        justify-content: center;
    }
    .food_for_pets {
        min-width: 272px;
        align-items: center;
    }

    .discount {
        width: 272px;
    }
    .baloo__font {
        font-size: 30px;
    }
    .baloo__font__discount {
        font-size: 30px;
    }

@media screen (min-width: 480px) {
    
}

@media screen (min-width: 768px) {
    
}

@media screen (min-width: 992px) {
    
}

@media screen (min-width: 1024px) {
    
}

@media screen (min-width: 1200px) {
    
}

@media screen (min-width: 1810px) {
    
}
*/