.any_products {
    font-family: 'PT Sans',sans-serif;
    display: block;
}

.butchers {
    font-size: 15px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 35px;
    text-align: left;
}

.baloo__font {
    font-family: 'Baloo 2', cursive;
    font-size: 50px;
    padding-left: 35px;
    text-align: left;
    color: #3c3731;
}

.baloo__font__discount {
    font-family: 'Baloo 2', cursive;
    font-size: 32px;
    margin: auto;
    text-align: center;
    color: #3c3731;
    padding-top: 60px;
}
.orange_color_text {
    color: #ed6435;
}
.cards_products {
    display: flex;
}
.food_for_pets {
    background: url(../img/img_any_pets/dog_feed.png);
    width: 570px;
    height: 348px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.discount {
    background: url(../img/img_any_pets/pet_toys.png);
    width: 570px;
    height: 348px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.button_to_dry_food {
    font-size: 16.5px;
    font-weight: bold;
    width: 123px;
    text-decoration: none;
    text-align: center;
    background: #ffe6d4;
    display: block;
    padding: 15px;
    border-width: 1px;
    border-radius: 25px;
    letter-spacing: 0.7px;
    margin-left: 35px;
    margin-top: 27px;
}

.button_to_see_products {
    font-size: 16.5px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 157px;
    background: #ffe6d4;
    display: block;
    padding: 15px;
    border-width: 1px;
    border-radius: 25px;
    letter-spacing: 0.7px;
    margin: auto;
    display: block;
    margin-top: 30px;

.carousel_cards {
    display: flex;
}