.care {
    background-color: var(--light-bg-color);
    padding-top: 90px;
    padding-bottom: 70px;
}

.care__body {
    display: flex;
    flex-direction: column;
}

.body__img img {
    margin: 20px;
    display: block;
    max-width: 100%;
    padding-right: 30px;
}

.body__text {
    margin: 0px 0px 0px 20px;
    text-align: justify;
}

.body__title {
    font-family: 'Baloo 2', cursive;
    font-size: 30px;
    color: var(--title-color);
    line-height: 36px;
    text-align: left;
}

.body__img-bone img {
    height: 32px;
    width: auto;
    margin: 20px 0px 0px 0px;
    text-align: center;
}

.body__paragraph p {
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    color: var(--subtitle-color);
    line-height: 28.5px;
    margin: 20px 0px;
    text-align: left;
}

.body__list {
    list-style-type: none;
    margin-bottom: 40px;
}

.list__item {
    display: flex;
}

.list__svg img {
    height: 24px;
    width: 20px;
    margin-right: 10px;
}

.list__item__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    color: var(--subtitle-color);
    padding-bottom: 25px;

}

.care__footer {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 20px;
    
}

.item-column__icon img {
    width: 26px;
    height: 26px;
    margin-right: 20px;
}

.care__column {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.item-column__article {
    line-height: 20px;
}

.item-column__title {
    font-family: 'Baloo 2', cursive;
    font-size: 22px;
    color: var(--title-color);

}

.item-colum__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: var(--subtitle-color);
}

@media (min-width: 550px) {
    .care__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 770px) {
    .care__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1000px) {
    .care__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;
    }
}