@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Open+Sans:wght@600&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

/*

font-family: 'Baloo 2', cursive;
font-family: 'Open Sans', sans-serif; 
font-family: 'PT Sans', sans-serif;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #3c3731;
    --subtitle-color: #958b7e;
    --price-text-color: #ed6536;
    --button-text-color: #45c1c7;
    --button-bg-color: #b2e7ea;
    --button-text-color-hover: #eb653e;
    --button-bg-color-hover: #ffe6d5;
}

.container {
    max-width: 1200px;
    margin: auto;
}
