.footer {
    margin-top: 90px;
    padding-top: 90px;
    min-height: 400px;
    background-color: var(--light-bg-color);
}

.footer__cta {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.cta__phone p {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: var(--button-text-color);
    font-weight: 700;
    margin-bottom: 10px;
}

.cta__phone a {
    font-family: 'PT Sans', sans-serif;
    display: block;
    font-size: 30px;
    color: var(--price-text-color);
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
    margin-bottom: 50px;
}

.cta__phone a:hover {
    color: var(--price-text-color);
    text-decoration: underline;
}

.cta__subscribe-text p {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: var(--subtitle-color);
}

.cta__label {
    font-family: 'PT Sans', sans-serif;
    display: block;
    margin-bottom: 50px;
    color: var(--title-color);
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s;
}

.cta__label span {
    color: var(--button-text-color);
}

.cta__label:hover {
    color: var(--title-color);
    text-decoration: underline;
}

.cta__subscribe-form__input {
    font-family: 'PT Sans', sans-serif;
    display: block;
    margin-bottom: 21px;
    border: none;
    background-color: var(--form-input-color);
    height: 40px;
    padding: 11px 22px 11px 22px;
    border-radius: 25px;
    width: 100%;
    color: var(--title-color);
    font-size: 15px;
}

.cta__subscribe-form__input:focus {
    outline-color: var(--button-text-color);
}

.cta__subscribe-form__input:invalid {
    outline-color: #ff0000;
}

.cta__subscribe-form__input::placeholder {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: var(--subtitle-color);    
}

.cta__subscribe-form__button {
    font-family: 'PT Sans', sans-serif;
    display: block;
    height: 40px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: var(--button-text-color-hover);
    background-color: var(--button-bg-color-hover);
    width: 100%;
    margin-bottom: 60px;
    padding-top: 13px;
}

.cta__subscribe-form__button:hover {
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
}

.footer__main {
    display: flex;
    flex-direction: column;
}

.footer__social {
    display: flex;
    flex-direction: column;
}


.footer__logo img {
    display: block;
    margin: auto;
    max-width: 193px;
    margin-bottom: 30px;
}

.footer__social-email p {
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    color: var(--subtitle-color);
    text-align: center;
    margin-bottom: 30px;
}

.footer__email {
    font-family: 'PT Sans', sans-serif;
    color: var(--subtitle-color);
    text-decoration: none;
    font-weight: 700;
}

.footer__email:hover {
    text-decoration: underline;
    color: var(--subtile-color);
}

.footer__social-icons {
    margin: auto;
}

.footer_icons_container__item {
    margin-left: 0;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.footer__nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__nav-title {
    font-size: 22px;
}

.footer__nav-divider {
    height: 3px;
    width: 38px;
    background-color: var(--nav-divider-color);
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer__nav-list {
    padding-left: 0;
    margin-bottom: 0;
}
.footer__nav-list li {
    list-style: none;
    margin-bottom: 20px;
}

.footer__nav-list li:last-child {
    margin-bottom: 0;
}

.footer__nav-list a {
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: var(--nav-list-color);
    transition: all 0.5s;
}

.footer__nav-list a:hover {
    color: var(--subtile-color);
    text-decoration: underline;
}

.footer__credentials { 
    min-height: 42px;
    background-color: var(--footer-bottom-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer__credentials .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__credentials p {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--subtitle-color);
}

.footer__credentials p:first-child {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .footer__cta {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .cta__phone {
        width: 40%;
    }
    .cta__subscribe-text p, .cta__label {
        font-size: 14px;
    }
    .cta__phone a {
        font-size: 44px;
    }

    .cta__subscribe-wrapper {
        min-height: 145px;
        display: flex;
        width: 60%;
        align-items: center;
    }
    .cta__subscribe-text {
        width: 60%;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 13px;
    }
    .cta__subscribe-form {
        width: 40%;
        padding-left: 15px;
    }
    .cta__subscribe-form__input::placeholder {
        font-size: 14px;    
    }
    .footer__main {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__social {
        width: 23%;
        margin-right: 25px;
    }
    .footer__social-icons {
        margin-top: 0;
    }
    .footer__nav {
        width: 75%;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .footer__nav-item {
        align-items: flex-start;
    }
    .footer__nav-list {
        align-items: flex-start;
    }

    .footer__logo img {
        width: 100%;
        margin-top: 8px;
        margin-left: 0;
    }
    .footer__nav-item {
        margin-top: 0;
    }
    .footer__social-email p {
        font-size: 16px;
        text-align: start;
    }
    .footer__social-icons {
        margin-left: 0;
    }
    .footer__credentials .container {
        flex-direction: row;
        justify-content: space-between;
        
    }
    .footer__credentials p:first-child {
        margin-bottom: 0;
    }
    .footer__credentials {
        padding-top: 10px;
    }
}

@media (min-width: 768px) {
    .footer__nav-list a {
        font-size: 15px;
        font-weight: 600;
    }
}


.cta__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.cta__modal-show {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.cta__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    min-height: 305px;
    padding: 43px 32px 65px;
    border-radius: 3px;
    background-color: #fff;
}

@media (min-width: 380px) {
    .cta__modal {      
        width: 344px;
    }
}

.cta__modal__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cta__modal__message-icon {
    display: block;
    width: 34px;
    height: 34px;
    fill: var(--nav-divider-color);
    margin-bottom: 33px;
}

.cta__modal__message-title {
    font-family: 'Baloo 2', sans-serif;
    color: var(--subtitle-color);
    font-size: 17px;
}

.cta__modal__message-text {
    color: var(--subtitle-color);
    margin-bottom: 42px;
}

.cta__modal__message-button {
    width: 210px;
    border: none;
    line-height: 27px;
    border-radius: 20px;
    font-size: 17px;  
    text-align: center;
    color: #fff;
    background-color: var(--nav-divider-color);
}

.cta__modal__message-button:hover {
    background-color: var(--button-text-color);
    transition: all 0.5s;
}

.cta__close-btn {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 20px;
    right: 20px;
}

.cta__close-btn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #3c3731;
    transform: rotate(-45deg);
}

.cta__close-btn:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #3c3731;
    transform: rotate(45deg);
}