* {
    margin: 0;
    padding: 0;
}

.header__contacts {
    background-color:rgb(242, 232, 228);
    font-family:'PT Sans',sans-serif;
    font-size:15px;
    color: #ed6435;
    box-sizing: border-box;
    height: 42px;
    font-weight: 700;
}

.contacts__workinghours {
    float: left;
    margin: 11px 0px 10px 205px;
}

.contacts__emailphone {
    float: right;
    margin: 11px 210px 10px 0px;
 }

 .emailphone__phone {
    margin-left:15px;
}

.contacts__emailphone a {
    color: #ed6435;
    text-decoration: none;
}

.contacts__emailphone a:hover {
    color: #ed6435;
    text-decoration: underline;
}

.header__navandtext {
    background: rgb(250, 244, 242) url(../img/img_header/header_backgroundimg_dog.png);
    background-repeat: no-repeat;
    height: 836px;
    background-size: cover;
}

.header_nav {

}

.nav__image_container {
    float: left;
    width: 182px;
    height: 33px;
    margin: 30px 0px 10px 205px;
}

.nav__menu {
    float:left;
    margin:38px 30px 10px 155px;
}


.menu__item {
    margin-right:35px;
    color: rgb(107, 107, 107);
    font-size: 15px;
    font-family:'PT Sans',sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.menu__item:hover {
    color:#ed6435;
    
}

.nav__icons_container {
    float: left;
    margin: 33px 135px 50px 155px;
}

.icons_container__item {
    margin-right: 10px;
}

.textleft__textbig {
    padding: 293px 0px 10px 205px;
    font-family: 'Baloo 2', cursive;
    font-size: 82px;
    color:rgb(60,55,49);
    line-height:80px;
}

.textleft__textlittle {
    font-size: 19px;
    font-family: 'PT Sans',sans-serif;
    color: rgb(149,139,126);
    font-weight: 400;
    padding: 35px 0px 10px 205px;
}


