* {
    margin: 0;
    padding: 0;
}

.header__contacts {
    background-color:rgb(242, 232, 228);
    font-family:'PT Sans',sans-serif;
    font-size:15px;
    color: #ed6435;
    box-sizing: border-box;
    height: 42px;
    font-weight: 700;
}

.contacts__workinghours {
    float: left;
    margin: 11px 0px 10px 205px;
}

.contacts__emailphone {
    float: right;
    margin: 11px 210px 10px 0px;
 }

 .emailphone__phone {
    margin-left:15px;
}

.contacts__emailphone a {
    color: #ed6435;
    text-decoration: none;
}

.contacts__emailphone a:hover {
    color: #ed6435;
    text-decoration: underline;
}

.header__navandtext {
    background: rgb(250, 244, 242) url(../img/img_header/header_backgroundimg_dog.png);
    background-repeat: no-repeat;
    height: 836px;
    background-size: cover;
}

.header_nav {

}

.nav__image_container {
    float: left;
    width: 182px;
    height: 33px;
    margin: 30px 0px 10px 205px;
}

.nav__menu {
    float:left;
    margin:38px 30px 10px 155px;
}


.menu__item {
    margin-right:35px;
    color: rgb(107, 107, 107);
    font-size: 15px;
    font-family:'PT Sans',sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.menu__item:hover {
    color:#ed6435;
}

.nav__icons_container {
    float: left;
    margin: 33px 135px 50px 155px;
}

.icons_container__item {
    margin-right: 10px;
    transition: all .5s ease;
    fill: #45c1c7;
}

.icons_container__item:hover {
    fill:#46a2a7
}

.textleft__textbig {
    padding: 293px 0px 10px 205px;
    font-family: 'Baloo 2', cursive;
    font-size: 82px;
    color:rgb(60,55,49);
    line-height:80px;
}

.textleft__textlittle {
    font-size: 19px;
    font-family: 'PT Sans',sans-serif;
    color: rgb(149,139,126);
    font-weight: 400;
    padding: 35px 0px 10px 205px;
}

.textbutton__buttonheader {
    float: left;
    margin: 55px 0px 0px 205px;
}

.buttonheader__buttonabout {
    border: 2px;
    border-radius:30px;
    padding: 13px 27px;
    background-color: #ffe6d4;
    color: #ed6435;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16.5px;
    font-weight: 700;
    letter-spacing:1px;
}


.buttonheader__buttoncategories {
    color: #45c1c7;
    font-family: 'PT Sans', sans-serif;
    font-size: 16.5px;
    font-weight: 700;
    letter-spacing:1px;
    border: #45c1c7 1px solid;
    border-radius: 30px;
    padding: 12px 27px ;
    margin-left: 17px;
    text-decoration: none;
}

.buttonheader__buttoncategories svg {
    width: 30px;
    height: 30px;
}




