.promotion {
    min-height: 769px;
    background: url(../img/countdown-background.png) center center/cover no-repeat;
    padding: 90px 15px 100px 15px;
}

@media (min-width: 320px) {
    .promotion {
        background-position: left;
    }
}

@media (min-width: 375px) {
    .promotion {
        min-height: 704px;
    }
}

@media (min-width: 480px) {
    .promotion {
        min-height: 697px;
        background-position: 35% 25%;
    }
}

@media (min-width: 768px) {
    .promotion {
        min-height: 857px;
        padding-top: 117px;
        padding-bottom: 125px;
    }
}

@media (min-width: 992px) {
    .promotion {
        min-height: 953px;
        padding-top: 145px;
        padding-bottom: 150px;
        background-position: center;
    }
}

@media (min-width: 1024px) {
    .promotion {
        min-height: 955px;
    }
}

.promotion__header {
    min-width: 272px;
}

.promotion__label {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: var(--button-text-color);
}

.promotion__title {
    font-size: 48px;
    margin-top: 20px;
    line-height: 1;
}

.promotion__text {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: var(--subtitle-color);
    margin-top: 35px;
    margin-bottom: 45px;
}

@media (min-width: 320px) {
    .promotion__header {
        width: 272px;
    }
}

@media (min-width: 375px) {
    .promotion__header {
        width: 327px;
    }
}

@media (min-width: 480px) {
    .promotion__header {
        width: 432px;
    }
}

@media (min-width: 768px) {
    .promotion__title {
        font-size: 70px;
    }
    .promotion__header {
        width: 337px;
    }
}

@media (min-width: 992px) {
    .promotion__title {
        font-size: 82px;
    }
    .promotion__header {
        width: 441px;
    }
}

@media (min-width: 1024px) {
    .promotion__header {
        width: 457px;
    }
}

@media (min-width: 1024px) {
    .promotion__header {
        width: 545px;
    }
}
 
.promotion__text span {
    color: var(--price-text-color);
}

.promotion-countdown {
    display: flex;
    justify-content: space-between;
}

.promotion-countdown__item {
    border: 1px solid var(--button-text-color);
    border-radius: 5px;
    text-align: center;
}

.promotion-countdown__time {
    font-family: 'Baloo 2', cursive;
    color: var(--title-color);
}

.promotion-countdown__label {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: var(--subtitle-color);
}

.promotion__button {
    display: block;
    margin-top: 35px;
    text-decoration: none;
    text-align: center;
    padding: 11px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 16.5px;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 25px;
    width: 132px;
    height: 46px;
    cursor: pointer;
    transition: all 0.5s;
}

@media (min-width: 992px) {
    .promotion__button {
        margin-top: 40px;
    }
}

.promotion__button:hover {
    color: var(--button-text-color-hover);
    background-color: var(--button-bg-color-hover);   
}

@media (min-width: 320px) {
    .promotion-countdown {
        width: 272px;
    }
    .promotion-countdown__item {
        width: 55px;
        height: 55px;
    }
    .promotion-countdown__time {
        font-size: 20px;
    }
    .promotion-countdown__label {
        font-size: 15px;
    }
}

@media (min-width: 480px) {

    .promotion-countdown {
        width: 300px;
    }
    .promotion-countdown__item {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 768px) {

    .promotion-countdown {
        width: 470px;
    }
    .promotion-countdown__item {
        width: 97px;
        height: 97px;
    }
    .promotion-countdown__time {
        font-size: 36px;
    }
    .promotion-countdown__label {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .promotion-countdown {
        width: 470px;
    }
    .promotion-countdown__item {
        width: 97px;
        height: 97px;
    }
}