.product {
    display: grid;
    grid-template-columns: 1fr;
}

.product__img {
    display: block;
    width: 100%;
}

.top-recommendations__title {
    font-size: 30px;
    color: var(--title-color);
    line-height: 1.2;
    font-family: "Baloo 2", cursive;
    font-weight: 700;
    text-align: center;
}

.top-recommendations__bone-icon {
    display: block;
    margin: auto;
}

.top-recommendations__subtitle {
    text-align: center;
    color: var(--subtitle-color);
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    line-height: 1.5;
}

.recommendations-content {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.recommendations-content__img {
    display: block;
    width: 100%;
}

.recommendations-content__promo {
    display: block;
    width: 100%;
    height: 350px;
    background: url(../img/recommendations-bg.png) 100% 100%/100% auto no-repeat;
}

@media (min-width: 768px) {
    .top-recommendations__title {
        font-size: 44px;
    }

    .product {
        grid-template-columns: 1fr 1fr;
    }

    .recommendations-content {
        flex-direction: row;
    }

    .recommendations-content__img {
        width: 70%;
    }

    .recommendations-content__promo {
        width: 30%;
        height: auto;
        background: url(../img/recommendations-bg.png) 100% 100%/auto 100% no-repeat;
    }
}

@media (min-width: 992px) {
    .product {
        grid-template-columns: repeat(4, 1fr);
    }
}