.trending-products {
    padding-top: 90px;
    padding-bottom: 90px;
    min-width: 0;
}

.trending-products__slider {
    position: relative;
}

.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* .trending-products__arrow-img { 
    position: absolute;   
    display: none;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%)    
} */

.trending-products__items .slick-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    z-index: 10;
    font-size: 0;
    border: none;
}
.trending-products__items .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/arrows/arrow-small-prev.svg') center center/ 100% no-repeat;
    
}

.trending-products__items .slick-arrow.slick-next {
    right: 0;
    background: url('../img/arrows/arrow-small-next.svg') center center/ 100% no-repeat;
   
}



/* .trending-products__sm-arrow-img {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%)
}

.trending-products__sm-arrow-right {
    right: 0px;
}

.trending-products__arrow-img-right {
    right: -15px;
}

.trending-products__arrow-img-left {
    left: -15px;
} */

.trending-products__items {
    display: flex;
    min-width: 242px;
    /* overflow: hidden; */
    position: static;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.trending-products__item {   
    margin-left: 15px;
    margin-right: 15px;
}

.trending-products_img-container {
    min-width: 242px;
}

.trending-products__image {
    display: block;
    width: 100%;
}

@media (min-width: 320px) {
    .trending-products__items {
        max-width: 272px;
    } 
    .trending-products__img-container {
        max-width: 242px;
    }   
}

@media (min-width: 375px) {
    .trending-products__items {
        max-width: 327px;
    } 
    .trending-products__img-container {
        max-width: 293px;
    }   
}

@media (min-width: 480px) {
    .trending-products__items {
        max-width: 432px;
    } 
    .trending-products__img-container {
        max-width: 402px;
    }  
}

@media (min-width: 768px) {
    .trending-products__items {
        max-width: 704px;
    } 
    .trending-products__img-container {
        max-width: 322px;
    }
}

@media (min-width: 992px) {
    .trending-products__items {
        max-width: 912px;
    } 
    .trending-products__img-container {
        max-width: 198px;
    }
}

@media (min-width: 1024px) {
    .trending-products__slider {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .trending-products__items {
        min-width: 944px;
    }
    .trending-products__img-container {
        max-width: 206px;
    }   
}

@media (min-width: 1200px) {
    .trending-products__items {
        min-width: 1110px;
        position: static;
    }
    .trending-products__img-container {
        max-width: 250px;
    }
    .trending-products__items .slick-arrow.slick-prev {
        background: url('../img/arrows/arrow-back.png') center center/ 100% no-repeat;
        
    } 
    .trending-products__items .slick-arrow.slick-next {
        background: url('../img/arrows/arrow-next.png') center center/ 100% no-repeat; 
    }
}

.trending-products h2 {
    text-align: center;
    margin-bottom: 32px;
    line-height: 36px;
}

.trending-products__text {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--subtitle-color);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
}

@media (min-width: 320px) {
    .trending-products h2 {
        font-size: 30px; 
    }
}

@media (min-width: 768px) {
    .trending-products h2 {
        font-size: 44px;   
    }
}

@media (min-width: 992px) {
    .trending-products h2 {
        font-size: 50px;   
    }
}

.trending-products__item h3 a {
    display: block;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: var(--subtitle-color);
    margin-top: 8px;
}

.trending-products__item h3 a:hover {
    text-decoration: underline;
}

.trending-products__price {
    font-weight: 700;
    font-size: 18px;
    color: var(--price-text-color);
}

.trending-products__button {
    margin-top: 24px;
    margin-bottom: 20px;
}
